services:
  db:
    container_name: resume-quill-db-prod
    env_file:
      - .env
  app:
    container_name: resume-quill-be-prod
    image: resume-quill-be:prod
    restart: unless-stopped
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
