services:
  db:
    container_name: resumequill_db_prod
    env_file:
      - .env
  app:
    container_name: resumequill_app_prod
    image: resume-quill-be:prod
    restart: unless-stopped
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - .env
    environment:
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
    depends_on:
      db:
        condition: service_healthy
